{% extends 'main/layout.html' %} {# можно брать шаблоны из других приложений #}
<!-- Берёт шаблон из layout.html -->

{% block title %}{{ article.title }}{% endblock %}
<!-- Блок Загаловка. Создаёт title для этого файла -->

{% block body %}
<!-- Блок body. Создаёт данные для страницы в браузере -->
    <div class="features">
        <h1>{{ article.title }}</h1>
        <p>{{ article.date }}</p>
        <p>{{ article.text }}</p>
        <a href="{% url 'news-delete' article.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'news-update' article.id %}" class="btn btn-info">Edit</a>
    </div>
{% endblock %}