{% extends 'main/layout.html' %} {# можно брать шаблоны из других приложений #}
<!-- Берёт шаблон из layout.html -->

{% block title %}News{% endblock %}
<!-- Блок Загаловка. Создаёт title для этого файла -->

{% block body %}
<!-- Блок body. Создаёт данные для страницы в браузере -->
    <div class="features">
        <h1>{{ title_name }}</h1> {# Передача данных из views.py #}
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.announs }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Now we don't have any news</p>
        {% endif %}

    <!-- {{ news }} {# Передача данных из views, из db #} -->
{% endblock %}